+++
title = "Federizer"
linkTitle = "Federizer"

+++

{{< blocks/cover title="API-to-API Security Framework" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://iam.federizer.org/auth/realms/demo/protocol/openid-connect/auth?client_id=account">
		Sign up to demo! <i class="fas fa-sign-in-alt ml-2 "></i>
	</a>
	<p class="lead mt-5">Federizer helps organizations take control of API-to-API communication through the advanced authentication and authorization mechanism—<a href="https://github.com/umalabs/identity-propagation-and-assertions" style="color:rgb(113, 255, 160)">Identity Propagation and Assertions</a>.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{< blocks/section color="secondary" >}}
{{% blocks/feature icon="fab fa-docker" title="Get Docker image!" %}}
<a href="https://hub.docker.com/repository/docker/1token/email-service">Docker Hub</a>
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Clone, build, deploy!" %}}
<a href="https://github.com/umalabs/federizer">Repositories on GitHub</a>
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" %}}
<a href="https://twitter.com/federizer">Stay up to date with our latest news</a>
{{% /blocks/feature %}}


{{< /blocks/section >}}


